In [ ]:
import os
os.environ['JAVA_HOME'] = 'C:\\Program Files\\Java\\jdk1.8.0_202'
import os

os.environ["PYSPARK_PYTHON"] = "python"
os.environ["PYSPARK_DRIVER_PYTHON"] = "python"

# Limit Python worker ports to avoid conflicts
os.environ["PYSPARK_WORKER_PORT"] = "40000"
os.environ["PYSPARK_WORKER_PORT_RANGE"] = "40000-50000"

In [58]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [ ]:
#data for the dataframe
data=[("Dilip","Husband"),("Charu","Wife")]

In [ ]:
#creating Dataframe using pyspark
df=spark.createDataFrame(data,schema='name string, relation string')

In [51]:
df.show()

+-----+--------+
| name|relation|
+-----+--------+
|Dilip| Husband|
|Charu|    Wife|
+-----+--------+

In [62]:
from pyspark.sql import Row
from datetime import date

In [ ]:
test=spark.createDataFrame([Row(name="dilip",age=23,dob=date(2002,5,8)),Row(name="Charu",age=24,dob=date(2000,11,15))])

In [53]:
test.show()

+-----+---+----------+
| name|age|       dob|
+-----+---+----------+
|dilip| 23|2002-05-08|
|Charu| 24|2000-11-15|
+-----+---+----------+

In [54]:
test.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- dob: date (nullable = true)

In [55]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [56]:
df

+-----+--------+
| name|relation|
+-----+--------+
|Dilip| Husband|
|Charu|    Wife|
+-----+--------+

In [57]:
df.show(vertical=True)

-RECORD 0-----------
 name     | Dilip
 relation | Husband
-RECORD 1-----------
 name     | Charu
 relation | Wife

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, DateType
from datetime import date

schema = StructType([
    StructField("id", StringType(), True),
    StructField("event_date", DateType(), True)
])

data = [
    ("A1", date(2023, 10, 26)),
    ("B2", date(2023, 11, 15)),
    ("C3", None)
]

df = spark.createDataFrame(data, schema)
print(df)
df.printSchema()

+---+----------+
| id|event_date|
+---+----------+
| A1|2023-10-26|
| B2|2023-11-15|
| C3|      NULL|
+---+----------+

root
 |-- id: string (nullable = true)
 |-- event_date: date (nullable = true)

In [67]:
test.select("name","age")

+-----+---+
| name|age|
+-----+---+
|dilip| 23|
|Charu| 24|
+-----+---+

In [68]:
test.select("name","age").describe()

+-------+-----+------------------+
|summary| name|               age|
+-------+-----+------------------+
|  count|    2|                 2|
|   mean| NULL|              23.5|
| stddev| NULL|0.7071067811865476|
|    min|Charu|                23|
|    max|dilip|                24|
+-------+-----+------------------+

In [ ]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', False)#it's consuming much time when it's true

In [71]:
test.collect()

[Row(name='dilip', age=23, dob=datetime.date(2002, 5, 8)),
 Row(name='Charu', age=24, dob=datetime.date(2000, 11, 15))]

In [74]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dilip\miniconda3\envs\pyspark38\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\dilip\miniconda3\envs\pyspark38\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/10.8 MB 5.6 MB/s eta 0:00:02
   ------ --------------------------------- 1.8/10.8 MB 5.0 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.5/10.8 MB 5.6 MB/s eta 0:00:02
   --------------------- ------------------ 5.8/10.8 MB 5.7 MB/s eta 0:00:01
   ------------------------- -------------- 6.8/10.8 MB 5.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.8 MB 5.9 MB/s eta 0:00:01
   ----------------------------------- ---- 9.4/10.8 MB 5.8 MB/s eta 0:00:01
   -------------------------------------- - 10.5/10.8 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.8 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.8 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.8 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 4.3 MB/s eta 0:00:00
Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
   ---------------------------------------- 0.0/14.9 MB ? eta -:--:--
   -- ------------------------------------- 1.0/14.9 MB 5.6 MB/s eta 0:00:03
   ------ --------------------------------- 2.4/14.9 MB 5.8 MB/s eta 0:00:03
   ---------- ----------------------------- 3.9/14.9 MB 6.5 MB/s eta 0:00:02
   -------------- ------------------------- 5.5/14.9 MB 6.7 MB/s eta 0:00:02
   ---------------- ----------------------- 6.3/14.9 MB 6.4 MB/s eta 0:00:02
   -------------------- ------------------- 7.6/14.9 MB 6.2 MB/s eta 0:00:02
   ----------------------- ---------------- 8.7/14.9 MB 6.1 MB/s eta 0:00:02
   -------------------------- ------------- 10.0/14.9 MB 6.0 MB/s eta 0:00:01
   ----------------------------- ---------- 11.0/14.9 MB 6.1 MB/s eta 0:00:01
   ---------------------------------- ----- 12.8/14.9 MB 6.3 MB/s eta 0:00:01
   -------------------------------------- - 14.2/14.9 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.9 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.9 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.9 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.9 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 14.9/14.9 MB 4.6 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [75]:
test.toPandas()

    name  age         dob
0  dilip   23  2002-05-08
1  Charu   24  2000-11-15

In [ ]:
test.name

Column<'name'>

In [77]:
import pyspark.sql.functions as func

In [79]:
test.select(func.upper("name"),"age").toPandas()

  upper(name)  age
0       DILIP   23
1       CHARU   24

In [81]:
test.filter(test.age<24).toPandas()

    name  age         dob
0  dilip   23  2002-05-08